@model IEnumerable<Client>

@{ 
    ViewData["Title"] = "List of Clients";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.Mobile)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.Company)</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="align-middle">
                        <img class="rounded-circle" src="@item.FullName" style="max-width:150px"/>
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Mobile)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Company)
                    </td>

                    

                    
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="text-white">
    <a asp-controller="Client" asp-action="Create" class="btn btn-success"> <i class="bi bi-plus-circle"></i> Add New</a>
</div>