@model IEnumerable<Project>

@{
    ViewData["Title"] = "List of Projects";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.NameProject)</th>
                    <th>@Html.DisplayNameFor(model => model.StartDate)</th>
                    <th>@Html.DisplayNameFor(model => model.EndDate)</th>
                    
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.NameProject" style="max-width:150px" />
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        

                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="text-white">
    <a asp-controller="Project" asp-action="Create" class="btn btn-success"> <i class="bi bi-plus-circle"></i> Add New</a>
</div>
